<div style="background-image:url(https://s16.postimg.org/zfgrbq3ph/adminbackground.jpg)">
<div class="container-fluid">
<div class="row>
<div class="col-sm-1"></div>
<div class="col-sm-3">Testing</div>

<h2> Hellooo</h2>


</div>
</div>