<html>
<head>
</head>
<body>
	
<table class ="table">
    <tr>
        <td><div google-chart chart="myChartObject" style="height:500px; width:500px;"/></td>
        <td><div google-chart chart="pieChartObject" style="height:500px; width:500px;"></div></td>
    </tr>
 <table>
	
</body>
</html>