<style>
label { display : block}
</style>
<table>
<tr>
	<td><div google-chart chart="recentTransactionsObject" style="height:500px; width:700px;"/><td>
	<td><span style = "font-size: 30px;display: block; width: 350px; height: 100px" class="label label-primary">{{today_customers}}</span>
  	<br><span style = "font-size: 30px;display: block; width: 350px; height: 100px" class="label label-success">{{today_amount}}</span>
  	<br><span style = "font-size: 30px;display: block; width: 350px; height: 100px" class="label label-info">{{today_loyal}}</span></td>
  </tr>
 </table>
 
