<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
	<% include header.ejs%>
	<script src = "js/controller.js"></script>
    </head>
  <body ng-app = "loyaltyApp" ng-controller = "mainController">
  	<a ui-sref = "shop1">xyz</a>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <video-bg video-id="'-z3DS8ZmDZo'" ratio="4/3"></video-bg>
  </body>
</html>
