<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
	<% include header.ejs%>
	<script src = "js/controller.js"></script>
    </head>
  <body ng-app = "loyaltyApp" ng-controller = "mainController">
  	<!--a ui-sref = "shop1">xyz</a-->
  	<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <div class ="row">
    	<div class = "col-md-3">
    		<button ng-click = "groceryPage()" style="border: 0; background: transparent;width:200px; height:200px" type="button" class="btn btn-primary">
   <img src="images/grocry.jpg" width="200px" height="200px" alt="submit" /></button>
    	</div>
    	<div class = "col-md-3">
    		<button style="border: 0; background: transparent;width:200px; height:200px" type="button" class="btn btn-primary">
   <img src="images/coffee.jpg" width="200px" height="200px" alt="submit" /></button>
    	</div>
    	<div class = "col-md-3">
    		<button style="border: 0; background: transparent;width:200px; height:200px" type="button" class="btn btn-primary">
   <img src="images/hotel.jpg" width="200px" height="200px" alt="submit" /></button>
    	</div>
    	<div class = "col-md-3">
    		<button style="border: 0; background: transparent;width:200px; height:200px" type="button" class="btn btn-primary">
   <img src="images/restaurant.jpg" width="200px" height="200px" alt="submit" /></button>
    	</div>
    </div>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <video-bg video-id="'-z3DS8ZmDZo'" start = "22" ratio="4/3"></video-bg>
    
  </body>
</html>
